# Copy this to .env and fill in your values
# NEVER commit .env to GitHub

BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://jsonplaceholder.typicode.com
STANDARD_USER=standard_user
LOCKED_USER=locked_out_user
PASSWORD=secret_sauce
DB_URL=sqlite:///tests/db/test.db
